.header__logo{

    border-bottom : 1px solid var(--black200);
    a{
        display   : flex;
        padding   : 10px;
        margin    : 10px;

        em{

            width            : 40px;
            height           : 40px;
            display          : block;
            background-color : var(--red);
            margin-right     : 10px;
            
            //애니메이션 이름, 애니메이션 지속시간, 애니메이션 지연 시간 : 에니메이션이 시작되기 1초 동안 기다리기. 애니메이션의 타이밍 함수 : 천천히 시작했다가 중간에 빨라지고, 다시 천천히 끝. 무한반복
            animation        : ani 20s 20s ease-in-out infinite ;
        }

        span{

            font-size      : 18px;
            line-height    : 1;            //여백 안생기게 처리?
            font-weight    : 900;
        // text-transform : uppercase;
        }
    }
}

.header__menu{

    padding : 10px 0;
    .menu{
        
        border-bottom: 1px solid var(--black100);
        
        li{

            margin-bottom: 5px;
            a{
                font-size     : 1rem;                           //반응형 고려.
                display       : block;
                padding       : 0.9rem 2rem 0.9rem 3.125rem;
                margin        : 0 0.625rem;                     //모바일 크기로 줄어들 때 같이 사이즈가 줄어들 수 있도록, 즉 비율 반영을 위해서 rem을 사용한다.
                border-radius : 40px;
                position      : relative;
                line-height   : 1;
                color         : var(--white200);
                transition    : all 0.3s;
                //background-color : #111;

                //svg의 기준점은 a 태그임
                svg{
                    width    : 1.25rem;
                    height   : 1.25rem;
                    position : absolute;
                    left     : 1.25rem;
                    top      : 0.75rem;
                }

                &:hover {
                    background-color: var(--black100);
                    color: var(--white);
                }
            }

            &.active a{
                background-color : var(--black100);
                color            : var(--white);
            }
        }
    }

    .keyword{

        padding : 1.25rem ;
        //li는 블럭요소.
        li{

            display: inline-block;
            a{
                display       : inline-block;                  //넓이와 높이를 조정하기 위함.
                padding       : 5px 15px;
                border        : 1px solid var(--black200);
                font-size     : 0.8rem;
                border-radius : 40px;
                margin        : 3px 1px;
                transition    : all 0.3s;

                &:hover {
                    background-color: var(--black100);
                    color: var(--white);
                }
            }

            &.active a{

                background-color : var(--black100);
                color            : var(--white);
            }
        }
    }

}

.header__sns{

    position   : fixed;                                   // 위치를 맨 밑으로 맞추기 위해서
    bottom     : 0;                                       // 기준
    left       : 0;
    right      : 0;
    width      : 260px;                                   // 이걸 지정해주지 않으면 sns 아이콘들이 footer쪽으로 이동함. position의 영향.
    text-align : center;
    padding    : 15px 0 10px;
    background-color : var(--blackAlpha100);
    backdrop-filter  : blur(10px);

    li {
        display: inline-block;

        a {
            padding: 5px 7px;
            display: inline-block;
        }
    }
}


@keyframes ani{

    //시작
    0%{
        transform: rotate(0) scale(1);
        border-radius: 0;
    }

    //중간
    50%{
        transform: rotate(720deg) scale(0.5);
        border-radius: 20px;
    }

    //끝
    100%{
        transform: rotate(0) scale(1);
        border-radius: 0;
    }

}