#header{
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height:100%;
    overflow-y: auto;                   //스크롤 생기도록 처리.
    z-index: 10000;
    background-color: #000;
}

#main{
    max-width: 2000px;
    min-height: 100vh;
    margin:0 auto;
    padding-left: 260px;
    background-color: #111;
}

#footer{
    text-align: center;
    background-color: #333;
    padding: 20px 20px 20px 260px;  //맨 끝 왼쪽이 260px;
}